form {
	display: flex;
	flex-direction: column;
	padding-top: 15px;
	max-width: 525px;
	min-width: 280px;
	gap: 12.5px;

	h1 {
		margin-bottom: 7.5px;
	}

	p {
		margin-bottom: 10px;
	}

	div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 7.5px;

		input {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			margin-bottom: 12.5px;
		}

		textarea {
			max-width: 100%;
			max-height: 225px;
			min-height: 35px;
			min-width: 100%;
		}
	}

	.error {
		color: red;
		font-size: 0.875em;
	}

	.submission-status {
		margin-top: 1em;
		font-size: 1em;
		color: green;
	}
}
