.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 15px;
	width: 100%;
	height: 75px;

	#sewer-logo {
		width: 45px;
		height: 45px;
	}
}
