.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	flex-wrap: wrap;
	padding: 15px;
	width: 100%;
	height: auto;
	min-height: 75px;

	@media screen and (max-width: 700px) {
		justify-content: center;
		margin-bottom: 25px;
		gap: 15px;
	}

	#sewer-logo {
		width: 45px;
		height: 45px;
	}
}
